#editor { 
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #282a36;
position: fixed;
top: 0;
left : 0;
width: 100%;
}

li {
float: left;
border-left-color: #191b29;
border-left-width: 0.1px;
border-left-style: ridge;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #4CAF50;
}

.idkBar{
    list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #191b29;
position: fixed;
top: 46px;
left : 0;
width: 100%;
}
.fillerBoi{
    display: block;
color: #0d0f1f;
text-align: center;
padding: 2px 2px;
text-decoration: none;
}